# ===========================
#        GLOBAL
# ===========================
# Archivos de sistema y claves secretas
.DS_Store
Thumbs.db
.env
.env*.local
*.pem

# Dependencias (Ignora node_modules en frontend y backend)
node_modules/

# ===========================
#   FRONTEND (React Native)
# ===========================
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Carpetas generadas automáticamente)
# Quitamos la barra del inicio '/' para que las detecte dentro de 'frontend/'
ios/
android/

# Archivos nativos y claves
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# ===========================
#     BACKEND (Python)
# ===========================
# Archivos compilados y caché (CRUCIAL para Python)
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Bases de datos locales (si usas SQLite)
*.sqlite3
*.db